/* body{
    display: flex;
} */

input{
    width: 150px;;
}

div#form{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

div#note-board{
    display: flex;
}

.note{
    text-align: center;
    border: solid 1px black;
    border-radius: 20px;
    background-color: lightskyblue;
}